https://www.acmicpc.net/problem/9095

정수 4를 1, 2, 3의 합으로 나타내는 방법은 총 7가지가 있다. 합을 나타낼 때는 수를 1개 이상 사용해야 한다.

1+1+1+1\
1+1+2\
1+2+1\
2+1+1\
2+2\
1+3\
3+1\
정수 n이 주어졌을 때, n을 1, 2, 3의 합으로 나타내는 방법의 수를 구하는 프로그램을 작성하시오.

In [68]:
t = int(input())
for _ in range(t):
    lis=[]
    n = int(input())
    lis=[0]*(n+1)
    lis[1] = 1
    lis[2] = 2
    lis[3] = 4
    if n<4:
        print(lis[n])
    else:
        for i in range(4, n+1):
            lis[i] += lis[i-1]+lis[i-2]+lis[i-3]
        print(lis[n])
# for num in result:
#     print(num)

 3
 4

7

 7

44

 10

274

In [67]:
T = int(input())

for i in range(T) :
    n = int(input())
    dp = [0]*(n+1)
    if n == 1 :
        print(1)
    elif n == 2 :
        print(2)
    elif n == 3 :
        print(4)
    else :
        dp[1] = 1
        dp[2] = 2
        dp[3] = 4
        for j in range(4,n+1) :
            dp[j] = dp[j-1] + dp[j-2] + dp[j-3]
        print(dp[n])

 3
 4

7

 7

44

 10

274